body {
    font-family: "Alkatra", sans-serif;
    background-color: #b8d0eb;
}
#headerContainer, #howToContainer {
    display: flex;
    justify-content: center;  
    padding-top: 0.5em;
}
.noColor {
    background-color: white;
}
#headerText {
    font-size: 36px;
    font-weight: bold;
}
#footer {
    display: flex;
    justify-content: center;
    padding-top: 4em;
}
#gridContainer {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
}
#grid {
    width: 400px;
    height: 400px;
    border: 1px solid #a663cc;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;        
}

.gridRow {
    display: flex;
    width:inherit;
    height:inherit;
}
.gridColumn {
    display: flex;
    width: inherit;
    border: 1px solid rgba(128, 128, 128, 0.100);
}
.formContainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 1em;
}
#colorFormContainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
#numberBoxFirst {
    width: 40px;
    border: 2px solid #a663cc;
    border-radius: 15%;
}
.buttons {
    font-weight: bold;
    border: 2px solid #a663cc;
    border-radius: 15%;
}
.buttons:hover
{
    opacity: 1;
    background-color: #b298dc;
}
.buttons:active
{
    background-color: #6f2dbd;
}
.color {
    background-color: black;
}
